body {
  background-color: white;
}

#root {
  height: -webkit-fill-available;
}

.app {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/featured?wallpaper/1920x1200/");
  filter: drop-shadow(1);
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 100vw;
  height: -webkit-fill-available;
}

.navbar {
  position: fixed;
  color: black;
  z-index: 1;
  background-color: white;
  top: 0rem;
  padding: 1rem 0;
  width: -webkit-fill-available;
}

.back {
  left: 2rem;
  position: relative;
  cursor: pointer;
}

#searchbar {
  filter: brightness(100%);
  width: 80vw;
  height: 8vh;
  border-radius: 12px;
  border: none;
  text-indent: 1rem;
  font-size: 1rem;
  background-color: #fffcfc82 !important;
  color: black;
}

::placeholder {
  color: black;
}

.searchIcon {
  position: relative;
  right: max-content;
  left: 78vw;
  z-index: 1;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.326);
  padding: 1rem;
  /* width: max-content; */
  /* color: white;
  filter: blur(24px); */
}

.title1 {
  position: absolute;
  top: 52vh;
  margin: auto;
  color: transparent;
  background-color: black;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 400px) {
  .title {
    margin: 2rem 3rem;
  }
}
