body {
  background-color: white;
}

#root {
  height: -webkit-fill-available;
}

.app {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/featured?wallpaper/1920x1200/");
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 100vw;
  height: -webkit-fill-available;
}

.navbar {
  position: fixed;
  color: black;
  z-index: 1;
  background-color: white;
  top: 0rem;
  padding: 1rem 0;
  width: -webkit-fill-available;
}

.back {
  left: 2rem;
  position: relative;
  cursor: pointer;
}

#searchbar {
  filter: brightness(100%);
  width: 80vw;
  height: 8vh;
  border-radius: 12px;
  border: none;
  text-indent: 1rem;
  font-size: 1rem;
  background-color: #fffcfc82 !important;
  color: black;
}

::placeholder {
  color: black;
}

.searchIcon {
  position: relative;
  right: max-content;
  left: 95%;
  z-index: 1;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 20px #000;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 361px) {
  .title {
    margin: 2rem 3rem;
  }
}
